
@{
    ViewBag.Title = null;
}
<div align="center">
    <h2>Sua Sessão Expirou</h2>

    <br /><br />

    <h1>Por favor retorne a tela inicial e entre novamente</h1>

    <br /><br />

    <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Retornar a tela inicial</a>
</div>