
@{
    ViewBag.Title = null;
}

<h2>Sua Sessão Expirou</h2>

<br /><br />

<div>Por favor retorne a tela inicial e entre novamente</div>

<br /><br />

@Html.ActionLink("Retornar a tela inicial","../Home/Index")