
@{
    ViewBag.Title = "Index";
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@

<h2>Módulo Vendedor</h2>
<br />
<br />
@Html.ActionLink("Novos Pedidos", "../Pedidos/NovosPedidos")
<br />
<br />
@Html.ActionLink("Todos os Pedidos","../Pedidos/ListaPedidos")
<br /><br /><br />
