-- USE [master]
-- GO

-- CREATE DATABASE [Vendas]
-- GO
-- ALTER DATABASE [Vendas] SET COMPATIBILITY_LEVEL = 150
-- GO
-- IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
-- begin
-- EXEC [Vendas].[dbo].[sp_fulltext_database] @action = 'enable'
-- end
-- GO
-- ALTER DATABASE [Vendas] SET ANSI_NULL_DEFAULT OFF 
-- GO
-- ALTER DATABASE [Vendas] SET ANSI_NULLS OFF 
-- GO
-- ALTER DATABASE [Vendas] SET ANSI_PADDING OFF 
-- GO
-- ALTER DATABASE [Vendas] SET ANSI_WARNINGS OFF 
-- GO
-- ALTER DATABASE [Vendas] SET ARITHABORT OFF 
-- GO
-- ALTER DATABASE [Vendas] SET AUTO_CLOSE OFF 
-- GO
-- ALTER DATABASE [Vendas] SET AUTO_SHRINK OFF 
-- GO
-- ALTER DATABASE [Vendas] SET AUTO_UPDATE_STATISTICS ON 
-- GO
-- ALTER DATABASE [Vendas] SET CURSOR_CLOSE_ON_COMMIT OFF 
-- GO
-- ALTER DATABASE [Vendas] SET CURSOR_DEFAULT  GLOBAL 
-- GO
-- ALTER DATABASE [Vendas] SET CONCAT_NULL_YIELDS_NULL OFF 
-- GO
-- ALTER DATABASE [Vendas] SET NUMERIC_ROUNDABORT OFF 
-- GO
-- ALTER DATABASE [Vendas] SET QUOTED_IDENTIFIER OFF 
-- GO
-- ALTER DATABASE [Vendas] SET RECURSIVE_TRIGGERS OFF 
-- GO
-- ALTER DATABASE [Vendas] SET  DISABLE_BROKER 
-- GO
-- ALTER DATABASE [Vendas] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
-- GO
-- ALTER DATABASE [Vendas] SET DATE_CORRELATION_OPTIMIZATION OFF 
-- GO
-- ALTER DATABASE [Vendas] SET TRUSTWORTHY OFF 
-- GO
-- ALTER DATABASE [Vendas] SET ALLOW_SNAPSHOT_ISOLATION OFF 
-- GO
-- ALTER DATABASE [Vendas] SET PARAMETERIZATION SIMPLE 
-- GO
-- ALTER DATABASE [Vendas] SET READ_COMMITTED_SNAPSHOT OFF 
-- GO
-- ALTER DATABASE [Vendas] SET HONOR_BROKER_PRIORITY OFF 
-- GO
-- ALTER DATABASE [Vendas] SET RECOVERY FULL 
-- GO
-- ALTER DATABASE [Vendas] SET  MULTI_USER 
-- GO
-- ALTER DATABASE [Vendas] SET PAGE_VERIFY CHECKSUM  
-- GO
-- ALTER DATABASE [Vendas] SET DB_CHAINING OFF 
-- GO
-- ALTER DATABASE [Vendas] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
-- GO
-- ALTER DATABASE [Vendas] SET TARGET_RECOVERY_TIME = 60 SECONDS 
-- GO
-- ALTER DATABASE [Vendas] SET DELAYED_DURABILITY = DISABLED 
-- GO
-- ALTER DATABASE [Vendas] SET ACCELERATED_DATABASE_RECOVERY = OFF  
-- GO
-- EXEC sys.sp_db_vardecimal_storage_format N'Vendas', N'ON'
-- GO
-- ALTER DATABASE [Vendas] SET QUERY_STORE = OFF
-- GO
-- USE [Vendas]
-- GO

-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
CREATE TABLE [dbo].[HistPedido](
	[CodPed] [int] NOT NULL,
	[NroSeq] [int] IDENTITY(1,1) NOT NULL,
	[DataOcorrencia] [datetime] NULL,
	[Obs] [varchar](300) NULL,
 CONSTRAINT [pkHist] PRIMARY KEY CLUSTERED 
(
	[CodPed] ASC,
	[NroSeq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Cod] [int] IDENTITY(1,1) NOT NULL,
	[CPF] [char](11) NULL,
	[NomeCliente] [varchar](50) NULL,
	[Produto] [varchar](50) NULL,
	[Quantidade] [int] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusPedido](
	[Codigo] [int] NOT NULL,
	[Descricao] [varchar](40) NULL,
 CONSTRAINT [PK_Codigo] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportadora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cnpj] [varchar](14) NOT NULL,
	[Senha] [varchar](30) NOT NULL,
	[Tipo] [int] NOT NULL,
 CONSTRAINT [PK_Transportadora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cpf] [varchar](11) NOT NULL,
	[Senha] [char](32) NOT NULL,
	[Tipo] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cnpj] [varchar](14) NOT NULL,
	[Senha] [varchar](30) NOT NULL,
	[Tipo] [int] NOT NULL,
 CONSTRAINT [PK_Vendedor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [IX_FK_Usuario_Pedidos] ON [dbo].[Pedidos]
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO

CREATE UNIQUE NONCLUSTERED INDEX [index_Cpf] ON [dbo].[Usuario]
(
	[Cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Transportadora]  WITH CHECK ADD  CONSTRAINT [ck_cnpjtransportadora_length] CHECK  ((len([cnpj])=(14)))
GO
ALTER TABLE [dbo].[Transportadora] CHECK CONSTRAINT [ck_cnpjtransportadora_length]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [ck_cpf_length] CHECK  ((len([cpf])=(11)))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [ck_cpf_length]
GO
ALTER TABLE [dbo].[Vendedor]  WITH CHECK ADD  CONSTRAINT [ck_cnpj_length] CHECK  ((len([cnpj])=(14)))
GO
ALTER TABLE [dbo].[Vendedor] CHECK CONSTRAINT [ck_cnpj_length]
GO
USE [master]
GO
